@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html{
  box-sizing: border-box;
}

body{
  margin: 0;
  min-height: 100vh;
  color: white;
  background-color: #222; 
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.movie-container{
  margin: 20px 0;
}

.movie-container select {
  background-color: white;
  border: 0;
  border-radius: 5px;
  font-size: 0.9rem;
  margin-left: 10px;
  padding: 10px 15px;
}



.place-row{
  background-color: transparent;
  height: 30px;
  width: 40px;
  margin: 5px;
  text-align: center;

}

.place-column{
  height: 30px;
  width: 40px;
  margin: 5px;
  text-align: center;;
}


.seat{
  background-color: #444444;
  height: 30px;
  width: 40px;
  margin: 5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.seat.selected {
  background-color: greenyellow;
}

.seat.occupied {
  background-color: white;
}

.seat.row-index{
  background-color: transparent;
  text-align: center;
}

.seat:nth-of-type(3) , .place-column:nth-of-type(3){
  margin-right: 20px;
}

.seat:nth-last-of-type(2), .place-column:nth-last-of-type(2){
  margin-left: 20px;
}


.seat:not(.occupied):hover{
  cursor: pointer;
  transform: scale(1.25);
}

.showcase .seat:not(.occupied):hover{
  cursor: default;
  transform: scale(1);
}

.showcase, .stats{
  background-color: rgba(0,0,0,0.25);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  list-style-type: none;
  border-color: gray;
  border-style: solid;
  border-width: 1px;
}

.showcase li{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3px 10px;
}

.showcase li small{
  margin-left: 3px;
}

.row{
  display: flex;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.container .row:nth-child(9), .row:nth-child(6){
  margin-top: 20px;
}



.trapezoid{
	border-bottom: 40px solid white;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	height: 0px;
	width: 270px;
  transform: rotate(180deg);
  margin: 15px 0px 20px 10px;
}

p.text span {
  color:greenyellow;
  font-weight: bold;
}

